name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/glance
          ref: 60a2f055d54eb28413921c84afa7ed400bdb0695

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: glance
          build-contexts: glance=openstack/glance
          push: ${{ github.event_name != 'pull_request' }}
