name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/glance
          ref: 8bbe205c6497032790505579accb4cf1ff341599 # stable/zed

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/glance_store
          ref: e9d2509926445fd95c9bba9e1cacacb85a5e58af # 4.1.1

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: glance
          build-contexts: |
            glance=openstack/glance
            glance_store=openstack/glance_store
          push: ${{ github.event_name != 'pull_request' }}
